node_modules/
dist/
package-lock.json
/*.pdf
.vscode/
.env
/debug/
/config/.configCachee.json

# Scripts d'entrainement
/resources/scripts/checkpoints/
/resources/scripts/logs/
/resources/scripts/model_tfjs/
/resources/scripts/model_final.keras