node_modules/
dist/
/*.pdf
.vscode/
.env
/debug/
/config/.configCachee.json
*.traineddata
/*.xlsx

# Scripts d'entrainement
/resources/datasets/

# Rapport de couverture Jest
coverage/

# Médias stockés
/media